.loginContainer{
    background-image: url("https://img.freepik.com/free-vector/global-data-security-personal-data-security-cyber-data-security-online-concept-illustration-internet-security-information-privacy-protection_1150-37355.jpg?size=626&ext=jpg&ga=GA1.2.384973956.1661681986&semt=sph");
background-repeat: no-repeat;


background-size: cover;
background-position: center;
background-repeat: no-repeat;

}

