*{
margin: 0;
    padding: 0;
}
.navMain{
    background-color: #f0f4f4;
    height: 4.5rem;
    display: flex;


}
.nav{
    display: flex;;
}

.bottomNav{
    height: 3px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.logoImg{
    height: 1.75rem;
margin-top: 1.5rem;
margin-left: 5rem;
}

.searchBox{
    border: 2px solid #082c34;
    box-sizing: border-box;
    padding: 1vmax 2vmax;
width: 800px;
    border-radius: 10px;

margin: 0.55vmax;
margin-left: 8rem;
    font: 100 1.2rem "Montserrat", sans-serif;
    outline: none;
}
.searchBox:focus{
    border: 0;
    outline: 2px solid #28e4dc;     /* oranges! yey */
  }
  .login{

    display: inline-block;
margin-left: 3rem;
    font:  1.5rem "Lato", sans-serif;
    font-weight: 500;
margin-top: 1.2rem;
  }
  .sellButton{
    display: inline-block;
    margin-top: 1rem;
  }
.menuBar{
    margin-top: 0rem;
}
@media screen and (max-width: 600px){
    .searchBox{
        width: 100%;
        margin-left: 1rem;
    }
    .logoImg{
        margin-left: 1rem;
    }
}